/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@font-face {
  font-family: "Karbon Semibold Italic";
  src: url('../assets/fonts/KarbonWeb-SemiboldItalic.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-SemiboldItalic.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-SemiboldItalic.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-SemiboldItalic.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Thin";
  src: url('../assets/fonts/KarbonWeb-Thin.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-Thin.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-Thin.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-Thin.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Thin Italic";
  src: url('../assets/fonts/KarbonWeb-ThinItalic.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-ThinItalic.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-ThinItalic.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-ThinItalic.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Regular";
  src: url('../assets/fonts/KarbonWeb-Regular.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-Regular.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-Regular.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-Regular.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Regular Italic";
  src: url('../assets/fonts/KarbonWeb-RegularItalic.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-RegularItalic.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-RegularItalic.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-RegularItalic.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Semibold";
  src: url('../assets/fonts/KarbonWeb-Semibold.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-Semibold.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-Semibold.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-Semibold.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Light";
  src: url('../assets/fonts/KarbonWeb-Light.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-Light.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-Light.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-Light.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Light Italic";
  src: url('../assets/fonts/KarbonWeb-LightItalic.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-LightItalic.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-LightItalic.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-LightItalic.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Medium";
  src: url('../assets/fonts/KarbonWeb-Medium.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-Medium.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-Medium.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-Medium.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Medium Italic";
  src: url('../assets/fonts/KarbonWeb-MediumItalic.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-MediumItalic.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-MediumItalic.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-MediumItalic.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Bold";
  src: url('../assets/fonts/KarbonWeb-Bold.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-Bold.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-Bold.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-Bold.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Bold Italic";
  src: url('../assets/fonts/KarbonWeb-BoldItalic.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-BoldItalic.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-BoldItalic.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-BoldItalic.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Hairline";
  src: url('../assets/fonts/KarbonWeb-Hairline.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-Hairline.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-Hairline.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-Hairline.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Karbon Hairline Italic";
  src: url('../assets/fonts/KarbonWeb-HairlineItalic.eot?1435396758');
  src: url('../assets/fonts/KarbonWeb-HairlineItalic.eot?&1435396758#iefix') format('embedded-opentype'), url('../assets/fonts/KarbonWeb-HairlineItalic.woff?1435396758') format('woff'), url('../assets/fonts/KarbonWeb-HairlineItalic.otf?1435396758') format('opentype');
  font-weight: "normal";
  font-style: "normal";
}

$white: #FFFFFF;
$primary: #00AFDB;
$secondary: #005288;
$light-bg: #F4F4F4;
$dark-bg: #2E2F30;
$header-bg: $primary;
$sidebar-header-bg: #252728;
$toggle-active: #fff;
$cancel: darken($light-bg, 15%);
$error: #da4453;

$font-size: 13px;
$font-family: Karbon Regular;
$font-family-semibold: Karbon Semibold;
$font-family-light: Karbon Light;
$font-family-medium: Karbon Medium;
$base-color: #46474A;

$header-height: 60px;
$sidebar-width: 300px;
$sidebar-width-small: 50px;

$modal-z-index: 1000;
$header-z-index: 100;

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

html, body {
    -webkit-font-smoothing: antialiased;
    font-family: $font-family;
    font-size: $font-size;
    color: $base-color;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $white;
    box-sizing: border-box;

    > section.main {
        height: 100%;
        width: 100%;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

.fill {
    flex: 1;
}

._720kb-tooltip {
    z-index: $modal-z-index + 1;
    visibility: hidden !important;

    &._720kb-tooltip-open {
        visibility: visible !important;
    }
}

input {
    &:focus, &:active {
        outline: none;
    }
}

button {
    cursor: pointer;
    font-family: $font-family;
    &:focus, &:active {
        outline: none;
    }
}

a {
    color: $primary;
    text-decoration: none;
    cursor: pointer;

    &:visited, &:focus, &:active {
        color: $primary;
    }
}

.card {
    background: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .30);
    padding: 1em;

    > .card-date {
        font-size: 0.8em;
        font-weight: 500;
        color: lighten($dark-bg, 50%);
    }

    > .card-title-category {
        > .card-title {
            font-family: $font-family-semibold;
            font-size: 1.7em;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0.2em;
            margin-top: 1em;
            white-space: nowrap;
            display: block;

            color: $primary;
            text-decoration: none;

            &:visited, &:focus, &:active {
                color: $primary;
            }
        }

        > .card-category {
            font-family: $font-family-light;
            display: block;
            margin-bottom: 1em;
            font-size: 1.2em;
            color: $dark-bg;
            font-weight: 500;
        }
    }

    > .card-location, > .card-type, > .card-separator {
        font-family: $font-family-medium;
        color: lighten($dark-bg, 40%);
        font-weight: 500;
        font-size: 1.1em;
    }
}

div.no-data-message {
    height: 100%;
    width: 100%;
    text-align: center;

    > h2 {
        font-size: 3.5em;
        font-weight: normal;
        color: lighten($dark-bg, 50%);
        margin: 10% 0 0.1em;
    }

    > h3 {
        font-size: 2.5em;
        font-weight: normal;
        color: lighten($dark-bg, 50%);
        margin: 0 0 0.5em;
    }

    > p {
        font-size: 1.3em;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.mask {
    position: fixed;
    z-index: $header-z-index;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

    &.active {
        width: 100%;
        height: 100%;
        opacity: 0.2;
        transition: opacity 0.3s;
    }
}
